/**************
* Base Styles *
**************/

* {
  box-sizing: border-box;
}

body {
  background: #eee;
  padding: 2.5% 0;
}

.wrapper {
  width: 80%;
  margin: auto;
  background: #fff;
}

#video-container {
  position: relative;
}

#main-video {
  width: 100%;
  padding: 10px 10px 0;
}

#control-bar {
  position: absolute;
  bottom: 4px;
  left: 10px;
  height: 15px;
  width: calc(100% - 20px);
  transition: height .5s;
}

#video-controls {
  width: 96.5%;
  margin: auto;
  display: none;
}

#progress-bar {
  display: block;
  width: 98.5%;
  height: 6px;
  margin:  0 auto 0;
  background-color: rgba(255, 255, 255, .1);
  position: relative;
}

#progress-display {
    height: 6px;
    position: absolute;
    width: 100%;
    background: transparent;
}
#progress {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ff9900;
    height: 6px;
    width: 0;
}

#video-time {
  margin-left: .5em;
  position: absolute;
  top: 1.2em;
  color: white;
}

#mute-toggle {
  margin-left: calc(100% - 108.5px);
  margin-right: .5em;
}

.video-button {
  border: none;
  padding: 0;
  height: 30px;
  width: 30px;
  margin-top: 7.5px;
  background: transparent;
}

.video-button, input {
  outline: none;
}

.video-button img {
  height: 22px;
  width: 22px;
  margin-top: 4px;
}

#transcript-container {
  padding: 0 30px 20px;
}

#transcript-container p {
  line-height: 1.6em;
}
